*{
  margin: 0;
  padding: 0;
}

.landingDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 30px;
  color: #000000;
  /* box-shadow: 6px 6px 6px #cccccc; */
}

.landingButton {
  color: #ffffff;
  background-color: #008080;
  height: 40px;
  width: 200px;
  border-radius: 30px;
  border: none;
}

.morning{
  background: url(./images/morning.jpg) center center/cover;
}

.afternoon{
  background: url(./images/afternoon.jpg) center center/cover;
}

.evening{
  background: url(./images/night.jpg) center center/cover;
}

.night{
  background: url(./images/night.jpg) center center/cover;
}